<div class="row" ng-app = "Capstone" ng-controller = "BookCreateController as book" >
<div class="clearfix" style="padding-bottom: 5%"></div>
    <div class="col-md-8 col-sm-8 col-xs-8 col-xs-offset-2 col-md-offset-2 col-sm-offset-2 bg-white">

    <!--
    Create your Add and Edit Forms here.
    Validate the form fields in angular
    Show validation errors under each of the fields in realtime
    Enable the submit/update button only if the form data is valid 
    -->
    <form ng-submit="book.createBook()">
       Name: <input type = "text" ng-model = "book.name"><br/>
         Category:<input type = "text" ng-model = "book.category"><br/>
         Description: <input type = "text" ng-model = "book.description"><br/>
           Price:<input type = "text" ng-model = "book.price"><br/>
           <!--<button type = "submit"> Add book </button>-->
           <input type="submit" value="submit" ng-show="book.submit" />    
            <input type="button" value="update" ng-click="book.updateUser()"  ng-hide="book.update" />    
      <input type="button" value="cancel" ng-click="cancelUpdate()" ng-hide="book.cancel" />  
    </form>
    
    </div>
</div>
<div class="clearfix"></div>